---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import AsideMenu from '../components/AsideMenu.astro';
---

<Layout>
	<div id="app" class="relative h-screen p-2 gap-2">
		<aside class="[grid-area:aside] flex-col overflow-y-auto">
			  <AsideMenu />
		</aside>
		<main class="[grid-area:main] rounded-lg bg-zinc-900 overflow-y-auto">
		  <h1>Main</h1>
		  <slot />
		</main>
		<footer class="[grid-area:player] min-h-[100px] ">
		</footer>
	  </div>
</Layout>

<style>
	#app {
	  display: grid;
	  grid-template-areas:
		"aside main main"
		"player player player";
	  grid-template-columns: 300px 1fr;
	  grid-template-rows: 1fr auto;
	}
  </style>
