---
import SpotifyIcon from "../icons/SpotifyIcon.astro";
import HomeIcon from "../icons/HomeIcon.astro";
import SearchIcon from "../icons/SearchIcon.astro";
import AlbumIcon from "../icons/AlbumIcon.astro";
import DownLoadIcon from "../icons/DownLoadIcon.astro";
import AlertIcon from "../icons/AlertIcon.astro";
---

<div class="p-2 flex flex-wrap items-center gap-4">
  <a href="https://open.spotify.com" target="_blank" class="md:flex hidden">
    <SpotifyIcon />
  </a>
  <a href="/" class="bg-zinc-900 rounded-full p-3">
    <HomeIcon />
  </a>
  <div
    class="bg-zinc-900 rounded-full p-3 flex items-center gap-2 text-zinc-400 flex-1 min-w-[200px]"
  >
    <SearchIcon />
    <input
      type="text"
      placeholder="¿Qué quieres escuchar?"
      class="bg-transparent border-none outline-none text-zinc-400 placeholder:text-zinc-400 w-full"
    />
    <div class=" items-center gap-2 md:flex hidden">
      <span>|</span>
      <AlbumIcon />
    </div>
  </div>
  <a
    href="https://open.spotify.com/download"
    target="_blank"
    class="bg-zinc-900 rounded-full p-3  items-center gap-2 text-zinc-400 lg:flex hidden"
  >
    <DownLoadIcon />
    <label class="cursor-pointer">Instalar App</label>
  </a>
  <a
    href="https://open.spotify.com/alert"
    target="_blank"
    class="bg-zinc-900 rounded-full p-4  items-center gap-2 text-zinc-400 sm:flex hidden"
  >
    <AlertIcon />
  </a>
  <div
    class="flex items-center gap-2 bg-zinc-400 hover:bg-white transition-colors rounded-full p-3 px-6 text-zinc-900 font-bold cursor-pointer"
  >
    <a
      href="https://accounts.spotify.com/es/login?continue=https%3A%2F%2Fopen.spotify.com%2Fintl-es"
      class="text-sm whitespace-nowrap"
    >
      Login
    </a>
  </div>
</div>
